@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #454d55;
    color: white;
    transition: all 0.3s;
    height: 100%;
}


#sidebar ul.components {
    padding: 2px 0;
    border-bottom: 1px solid  #454d55;
    height: 100%;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    height: 100%;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a{
    color: #fff;
    background: #6d7fcc;
    height: 100%;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    height: 100%;
}